@use '@material/button';
@use '@material/textfield';

$highlight: #ff3333;
$shadow: rgb(30, 136, 229);

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 2;
  padding: 1rem;
}

table {
  border-collapse: collapse;
}

table > tbody > tr:nth-of-type(odd) {
  background-color: rgba(244, 244, 244, 0.326);
}

header.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 80rem;
  margin: 0 auto 1rem;
  font-family: unquote('Roboto');
  font-size: 96;

  strong {
    float: left;
  }
  span {
    display: inline;
    text-align: right;
  }
  a.logout {
    color: $shadow;
  }
}

footer.footer {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  max-width: 80rem;
  border-top: 1px solid #eee;
  padding: 1rem 2rem;

  strong {
    text-align: left;
    justify-content: start;
    & + strong {
      text-align: right;
      justify-content: end;
    }
  }
}
.week-view {
  max-width: 80rem;
  margin: 0 auto;
}
.track {
  display: grid;
  max-width: 80rem;
  margin: 0 auto;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 0.5rem 1rem -0.75rem black;
}

header.meta {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;

  .week {
    font-size: 1.5rem;
    text-align: center;
    small {
      display: block;
      padding: 0;
      line-height: 2;
      font-weight: 400;
    }
  }

  a.prev,
  a.next {
    border-radius: 3px;
    padding: 0;
    color: white;
    text-align: center;
    background-color: $shadow;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
  }
}

th.cutoff {
  background-color: $shadow;
  color: white;
}
main {
  padding: 0 2rem 0 2rem;
}
table.main {
  width: 100%;
  text-align: left;
  padding: 1rem 2rem 2rem;

  // td,
  // th {
  //   padding-left: 0.5rem;
  //   padding-top: 0.5rem;
  //   padding-right: 0.5rem;
  //   padding-bottom: 0.5rem;
  // }

  th small {
    font-weight: 400;
    padding-left: 0.25rem;
    &::before {
      content: '[';
    }
    &::after {
      content: ']';
    }
  }
  tfoot th {
    padding-top: 2rem;
  }
}

input {
  width: 100%;
  // padding: 0.5rem;
  // border: 1px solid #ddd;

  //   &::placeholder {
  //     opacity: 0.1;
  //   }

  //   &[readonly] {
  //     &.overtime {
  //       border-color: fade-out($highlight, 0.5);
  //       color: $highlight;
  //     }
  //   }

  //   &.earnt {
  //     color: $shadow;
  //     border: none;
  //     text-align: right;
  //     opacity: 1;
  //   }
}

mat-form-field {
  // @include textfield.density(0);
}

// tr th:first-child {
//   width: 170px;
// }
// tr.finish {
//   th,
//   td {
//     padding-bottom: 1rem;
//   }
// }

// th:first-child {
//   padding-right: 1rem;
// }

button[type='submit'] {
  background-color: rgb(67, 160, 71);
  float: right;
  width: auto;
  padding: 0 1rem;
  line-height: 2;
  // @include button.density(0);
}

th.summary {
  text-align: right;
}

footer strong {
  &.hours-this-week {
    padding-right: 1rem;
  }
  &.overtime-this-week {
    color: $highlight;
  }
  font-weight: 400;
  span {
    font-weight: 600;
    // border: 1px solid #ddd;
    padding: 0.2rem 0.4rem;
    // border-radius: 3px;
  }
}
.sm-width {
  width: 70px;
  // margin: -40px;
}
.md-width {
  width: 180px;
  margin-bottom: -10px;
}

tr > td,
.day {
  text-align: center;
}
.prio {
  margin: 0 auto;
}

.current-date {
  background-color: yellow; /* You can choose any highlighting style you prefer */
  font-weight: bold;
}


.week-dates {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}